:root {
    --black: #202020;
    --white: #d4d4d4;
}

* {
    font-family: 'Barlow', sans-serif;
}

body,html {
    margin: 0;
    padding: 0;
}

.page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: var(--black);
}

.interaction-area {
    width: 1200px;
    height: 700px;
    border: 2px solid var(--white);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}

.bars-container {
    height: 100%;
    width: 70%;
    border: 2px solid var(--white);
    border-width: 0 2px 0 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.bars {
    display: flex;
    align-items: flex-end;
    width: 80%;
    height: 80%;
}

.bar {
    position: relative;
    min-width: 5px;
    background-color: var(--white);
    flex-grow: 1;
    margin: 0 2px 0 0;
    display: flex;
    justify-content: center;
}

.bar-selected-1:after, 
.bar-selected-2:after {
    position: absolute;
    border: 2px solid red;
    min-width: 5px;
    min-height: 5px;
    border-width: 0 2px 2px 0;
    flex-grow: 1;
    content: '';
}

.bar-selected-1:after {
    top: 100%;
    margin: 5px 0 0 0;
    transform: rotate(225deg);
}

.bar-selected-2:after {
    top: 0;
    margin: -10px 0 0 0;
    transform: rotate(45deg);
}

.bar:last-of-type {
    margin: 0;
}

.buttons-container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.bars-counter {
    background-color: var(--white);
    width: 90%;
     display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

}

.btn {
    width: 100px;
    height: 30px;
    border: 2px solid var(--white);
    cursor: pointer;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.slide-container {
    width: 90%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; 
    height: 25px;
    background: var(--black); 
    outline: none; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    border: 2px solid var(--white);
    margin: 0;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: var(--white); 
    cursor: pointer; 
}

.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px;
    cursor: pointer;
}